
      /* width */
      ::-webkit-scrollbar {
        width: 20px;
      }
  
      /* Track */
      ::-webkit-scrollbar-track {
        background: transparant;
      }
  
      /* Handle */
      ::-webkit-scrollbar-thumb {
        background: url(assets/surething/pt3/scroll.png);
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 1;
        border-radius: 10px;
  
      }
  
      /*THIRD-SPECIFIC*/
      .noscroll{
        overflow-y: hidden;
      }

      #pinkass {
        margin-top: 18vw;
        width: 21vw;
      }
  
      .alge {
        background-image: url(/assets/surething/pt3/gsap/portalbg.png);
      }
  
      #ad-time {
        opacity: 0;
      }
  
      .popup {
        background-image: url(/assets/surething/pt3/gsap/popup.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        height: 32vw;
        width: 48vw;
        position: fixed;
        margin: auto;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        text-align: center;
        z-index: 2000;
        opacity: 1;
        display: none;
      }
  
      .overlay {
        background-color: rgba(0, 0, 0, 0.5);
        width: 100vw;
        height: 100vw;
        position: fixed;
        z-index: 1888;
        display: none;
      }
  
      .close {
        width: 3.5vw;
        height: 3.5vw;
        position: absolute;
        background-image: url(/assets/surething/pt3/adclose.png);
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        top: 1.5vw;
        right: 4.3vw;
        opacity: 0.5;
        cursor: pointer;
      }
  
      .close:hover {
        opacity: 1;
      }